[Unit]
Description=Automated Unzipper for Downloads
After=network.target

[Service]
ExecStart=__VENV_PATH__/bin/python3 __WORKING_DIR__/unzipper.py
WorkingDirectory=__WORKING_DIR__
StandardOutput=journal
StandardError=journal
User=__USER__
Group=__GROUP__
# Optional: Restart if the script fails
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
